node_modules
exports
coverage
selenium
Gemfile.lock
.sass-cache
_SpecRunner.html
src/css/*.css
src/css/*.css.map
src/*.css
src/*.css.map
**/npm-debug.log
src/app/templates.js
src/app/config/config.js
src/app/config/configurationDefaults.bundle.js
src/app/config/tfsConfig.js
tmp
src/app.css
src/app.scss
.DS_Store
bower_components/
build
spec/karma-bundle.js
dist
scratch/