@import "../../core/_core";

%btn {
  display: inline-block;
  text-align:center;
  vertical-align: middle;
  cursor: pointer;
  padding:qvar(core, space)/3 qvar(core, space);
  font-weight:qvar(font, weight--bold);
  border:none;
  border-radius:qvar(core, border-radius);
  &.is-disabled, &.is-disabled:hover, &[disabled], &[disabled]:hover {
    color: darken(qvar(button, text-default), 50);
    background:qvar(button, color-disabled);
    border:1px solid darken(qvar(button, color-disabled), 5);
    text-shadow: none;
    box-shadow: none;
    cursor: default;
    transition:all .08s linear;
  }
}

@mixin button-skin($bg-color:qvar(button, color-act), $text:qvar(button, text-default), $use-boxshad:qvar(button, use-boxshad), $use-boxshad-hover:qvar(button, use-boxshad-hover) ){
    @extend %btn;
    color: $text;
    border:1px solid darken($bg-color, 10);
    background: $bg-color;
    text-shadow: 1px 1px 0 darken($bg-color, 18);
    transition: all 0.08s ease-in-out;
  @if $use-boxshad == true {
    box-shadow:inset 0 1px 0 0 hsla(0, 100%, 100%, 0.15);
  } @else {
    box-shadow:$use-boxshad;
  }
  &:hover {
    color: $text;
    text-decoration: none;
    background:darken($bg-color, 10);
    @if $use-boxshad-hover == true {
      box-shadow:inset 0 -1px 0 0px hsla(0, 0%, 0%, 0.1);
    } @else {
      box-shadow:$use-boxshad-hover;
    }
  }
 }

 @mixin button-minimals($color:qvar(button, color-add), $text:qvar(button, text-default)) {
  @extend %btn;
  color:desaturate($color, 20);
  border:none;
  text-shadow:none;
  background: none;
  font-weight:normal;
  border:1px solid hsla(0, 0%, 0%, 0.0);
  transition: all 0.045s ease-in-out;
  &:hover, &:focus {
    background: $color;
    text-decoration: none;
    border:1px solid darken($color, 10);
    text-shadow:0 1px 0 darken($color, 10);
    color:$text;
    box-shadow:inset 0 -1px 0 0 hsla(0, 0%, 0%, 0.15);
  }
}

//Regular Buttons
.btn--act {
  @include button-skin();
}
.btn--success, .btn--add, .btn-primary.active  {
  @include button-skin($bg-color: qvar(button, color-add));
}
.btn--checkout  {
  @include button-skin($bg-color: qvar(button, color-checkout));
}
.btn--warn  {
  @include button-skin($bg-color: qvar(button, color-warn));
}
//Minimal Buttons
.btn--modify, .btn--link {
  @include button-minimals($color: qvar(button, color-act));
}
.btn--reset {
  @include button-minimals($color: qvar(button, color-checkout));
}
.btn--cancel {
  @include button-minimals($color: qvar(button, color-warn));
}
//States
button {
  &.is-successful, &.is-successful:hover {
    @include button-skin($bg-color: qvar(button, color-add));
    transition: .5s all ease-in;
    cursor: default;
  }
  &.is-failed, &.is-failed:hover {
    @include button-skin($bg-color: qvar(button, color-warn));
    transition: .5s all ease-out;
    cursor: default;
  }
  &.is-waiting, &.is-waiting:hover {
    @include button-skin($bg-color: qvar(button, color-checkout));
    transition: .5s all ease-in;
    cursor: default;
    i {
      text-shadow: none;
    }
  }
}
// close X style
.btn--kill {
  @extend %btn;
  position: absolute;
  background:none;
  right:3px;
  top:3px;
  box-shadow:none;
  padding:2px 4px;
  margin:0;
  color:qvar(incomm, ic--midlightgrey);
  transition:all .18s ease-in-out;
  &:hover, &:focus {
    color:qvar(button, color-warn);
    font-size:17px;
    background:none;
    box-shadow:none;
    text-shadow:0 1px 0 rgba(0,0,0,0.3);
  }
}
// simple page up/down fullwides
.btn--more-up, .btn--more-down {
  @extend .btn--act;
  text-align: center;
  width:100%;
  border-radius:3px 3px 0 0;
}
.btn--more-down {
  border-radius:0 0 3px 3px;
}
