//a non-navigation navigation
.location {
  list-style: none;
  margin:0;
  li {
    @include float(top);

    .fa {
      line-height:15px;
      vertical-align: middle;
      font-size: 0.001em;
      opacity: 0;
    }
    a {
      text-align: center;
      position: absolute;
      width:0.01em;
      font-size:0.01em;
      overflow:hidden;
      transition:all 0.2s ease-in-out;
    }
    &.is-back, &.is-current, &.is-forward {
      width:$third;
      .fa {
        font-size: 22px;
        opacity: 1;
        padding-bottom:2px;;
      }
      a {
        position:relative;
        width:100%;
        background:nxsass(panel, background);
        padding:10px;
        display: inline-block;
        color:nxsass(color, act);
        min-width:100px;
        text-shadow:darken(nxsass(button, color-act), 20);
        box-shadow:inset 0 -2px 0px 0px hsla(0,0,0,0.14);
        font-size: 12px;
        transition:all 0.18s ease-in-out;
        &:hover {
          text-decoration: none;
          box-shadow:inset 0 -3px 0px 0px hsla(0,0,0,0.14);
          z-index: 2;
          background:nxsass(color, act);
          color:nxsass(incomm, ic--white);
        }
      }
    }
    &.is-back {
      .fa-angle-right {
        display: none;
      }
    }
    &.is-current {
      a {
        color:nxsass(incomm, ic--midlightgrey);
        background:nxsass(panel, background);
        cursor: default;
        box-shadow: inset 0 -2px 0 0px nxsass(color, act);
        &:hover {
          color:nxsass(incomm, ic--midlightgrey);
          box-shadow:inset 0 -2px 0 0px nxsass(color, act);
          background:nxsass(panel, background);

        }
      }
      .fa-angle-right, .fa-angle-left {
        display: none;
      }
    }
    &.is-forward {
      .fa-angle-left {
        display: none;
      }
    }
  }
}
.location-name {
  display: inline-block;
}
