<div class="docs-panel">
    <p>The Kill button is your standard issue Close X button.</p>
    <button class="btn--kill">Kill <i class="fa fa-times"></i></button>
</div>


<p>Up and down (or 'load more') buttons span the width of the container they are in and can be used in modals or embedded on 'regular' pages.<p>
<button class="btn--more-up"><i class="fa fa-chevron-up"></i></button>

<p class="item">[Content here]</p>

<button class="btn--more-down"><i class="fa fa-chevron-down"></i></button>
&nbsp;
<button class="btn--more-down"><span class="important">Load More</span></button>