@import "_mixins";
@import "_theme";

// ================= Core UNRENDERED app design elements: use "@extend %name;""
%cleared {
  @include clearfix();
}
%list--strip {
  margin:0;
  padding:0;
  list-style:none;
}
//default browser style lists
%list--default {
  margin:qvar(type, gutter)/2 0;
  padding:0 0 0 qvar(type, gutter);
  list-style:disc;
  font-size:qvar(type, base-size);
  line-height:qvar(type, base-line);
  font-weight:qvar(font, weight--light);
}
%list--ordered {
  margin:qvar(type, gutter)/2 0;
  padding:0 0 0 qvar(type, gutter);
  list-style:decimal;
  font-size:qvar(type, base-size);
  line-height:qvar(type, base-line);
  font-weight:qvar(font, weight--light);
}
%list--horizontal {
  @extend %cleared;
  margin:0;
  padding:0;
  list-style: none;
  li {
    float: left;
  }
}
%grid {
  @extend %list--strip;
  margin-top:0;
  position: relative;
  li {
    display: inline-block;
    margin-right:-4px;
  }
}

%panel {
  position:relative;
  padding: qvar(panel, padding);
  border-radius:qvar(panel, border-radius);
  background: qvar(panel, background);
  margin:qvar(panel, margin);
  box-shadow:qvar(panel, box-shadow);
  border:qvar(panel, border);
  @extend %cleared;
}

//bootstrap style dropdown menu
%dropdown {
  display:inline-block;
  position:relative;
  &:hover {
    .dropdown-trigger{
      cursor: pointer;
      user-select: none;
    }
    .dropdown-list {
      height:auto;
      padding:10px;
      min-width:150px;
      border:1px solid qvar(incomm, ic--lightgrey);
      color:qvar(incomm, ic--darkgrey);
      border-radius:qvar(core, border-radius) 0 qvar(core, border-radius) qvar(core, border-radius);
      background:qvar(incomm, ic--white);
      box-shadow:qvar(core, box-shadow), 0 2px 4px 2px hsla(0%, 0, 0, 0.12);
    }
  }
}
%dropdown-trigger {
  user-select: none;
  text-decoration:none;
  color:qvar(incomm, ic--superlightgrey);
  display:inline-block;
  cursor: pointer;
    &:hover {
    text-decoration: none;
    cursor: pointer;
    color:qvar(incomm, ic--white);
  }
}
%dropdown-list {
  position: absolute;
  margin:0;
  padding:0;
  list-style:none;
  z-index:1000;
  overflow:hidden;
  height:1px;
  background:none;
  transition:all .025s ease-in-out;
}

%table {
  width:100%;
  thead{
    border-bottom:1px solid hsl(0,0,90%);
  }
  th, td {
    padding:5px;
  }
  th {
    text-align: left;
  }
  td {}
}

%table--striped {
  @extend %table;
  tr:nth-child(even) {
    background:lighten(qvar(incomm, ic--lightgrey), 15);
  }
}
