@import "~core/_core";

.container {
  @extend %cleared;
  box-sizing: border-box;
  width:100%;
  max-width:950px;
  margin:qvar(container, margin);
  padding:qvar(container, padding);
  background:qvar(container, background);
  @include breakpoint(wide) {
    width:950px;
    margin:0 auto;
  }
  @include breakpoint(small) {
    padding:0 5px;
  }
  @include breakpoint(mobile) {
    padding:0 3px;
  }
}
.container.is-edit-mode {
  @include breakpoint(wide){
    float: left;
    margin:0 0 0 35%;
    width:65%;
    padding:qvar(core, space);
  }
  float: none;
  width:100%;
  margin-bottom: 500px;
}
