@import "../../core/_core";
.container {
  @extend %cleared;
  box-sizing: border-box;
  width:100%;
  max-width:qvar(container, max-width);
  margin:qvar(container, margin);
  padding:qvar(container, padding);
  background:qvar(container, background);
  @include media(">=large") {
    max-width:qvar(container, max-width-wide);
    margin:qvar(container, margin);
  }
  @include media("<=medium") {
    padding:qvar(container, padding-small);
  }
  @include media("<=small") {
    padding:qvar(container, padding-mobile);
  }
}
