@import "~core/_core";

.item {
  margin:0;
  padding:qvar(type, base-leading)/4 qvar(core, space)/2;
  width: 33.33%;
  vertical-align: middle;
  &:hover {
    cursor: pointer;
  }
  @include breakpoint(small) {
    width:50%;
    margin-right:-4px;
  }
  @include breakpoint(mobile) {
    width:100%;
  }
  img {
    width:100%;
  }
}