@import "~base/normalize";
@import "~core/_theme";

//This file should only set standards for base html tags
html, body {
  height: qvar(core, body-height);
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: qvar(font, body);
  background: qvar(core, body-background) no-repeat center center fixed;
  background-size: cover;
  color: qvar(color, theme-text);
  font-size: qvar(type, base-size);
  line-height: qvar(type, base-line);
  font-weight: qvar(font, weight--light);
}

p {
  font-size: qvar(type, base-size);
  line-height: qvar(type, base-line);
  margin-bottom: qvar(type, base-line);
  font-weight: qvar(font, weight--light);
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  color: qvar(color, dark);
  font-family: qvar(font, header);
}

h1 {
  font-size: qvar(type, base-size) * 2.7;
  line-height: qvar(type, base-line) * 2.7;
  margin-bottom: qvar(type, base-line);
}

h2 {
  font-size: qvar(type, base-size) * 2.3;
  line-height: qvar(type, base-line) * 2.3;
  margin-bottom: qvar(type, base-line);
}

h3 {
  font-size: qvar(type, base-size) * 2;
  line-height: qvar(type, base-line) * 2;
  margin-bottom: qvar(type, base-line);
  font-weight: qvar(font, weight--bold);
}

h4 {
  font-size: qvar(type, base-size) * 1.3;
  line-height: qvar(type, base-line) * 1.3;
  margin-bottom: qvar(type, base-line) / 2.5;
}

h5 {
  font-family: qvar(font, header);
  font-size: qvar(type, base-size);
  line-height: qvar(type, base-line);
  margin-bottom: qvar(type, base-line) / 4;
  font-weight: qvar(font, weight--bold);
}

h6 {
  font-family: qvar(font, header);
  color: lighten(qvar(color, theme-text), 20%);
  font-style: italic;
  font-size: qvar(type, base-size);
  line-height: qvar(type, base-line);
  margin-bottom: qvar(type, base-line) / 4;
  font-weight: qvar(font, weight--light);
}

a {
  cursor: pointer;
  color: qvar(color, light);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

img {
  max-width: 100%;
}

hr {
  border: 0;
  height: 1px;
  background: lighten(qvar(color, theme-text), 40%);
  margin-bottom: qvar(type, base-line);
}
fieldset {
  border: none;
  margin: 0;
  padding: 0 ;
}
section {
  @extend %cleared;
}
